.logoText
{
    font-family: instagram;
    color: white;
    font-weight: lighter;
    font-size: 30px;
}

.sidebar
{
    position: fixed;
    font-family: 'Roboto', sans-serif;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 250px;
    font-size: 15px;
    padding: 20px;
    border-right: 1px solid rgb(143, 143, 143);

}

.contentSidebar
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;

}
.contentSidebar  a
{
    text-decoration: none;
    color: white;
}

.contentSidebarMenu
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contentSidebarMenu > *
{
    margin-right: 10px;
}

.profile
{
    border-radius: 20px;
}
.handlecreate
{
    position: relative;
}

.createNone
{
    display: none;
}

.createNew
{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    width:170px;
    top: 20px;
    background: #1c1e21;
    border-radius: 10px;
    color: white;
    font-weight: bold;

}

.createNewPost, .createNewVideo
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 7px;
    border-radius: 10px;
}

.createNewPost:hover, .createNewVideo:hover
{
    background: #2c2e33;
}


/*  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

input#modal1 {
    display:none;
}

input#modal1:checked ~ .modal-background {
    display: block;
}

input#modal1:checked ~ .modal
{
    display: flex;
    flex-direction: column;
    background: #1c1e21;
    height: 423px;
    width: 380px;
    color: #fff;
    border-radius: 10px;
}
input#modal1:checked ~ .modal .modal-header .feather-x
{
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .modal .modal-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

input#modal1:checked ~ .modal .modalBody
{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
}
input#modal1:checked ~ .modal .modalBody .uploadImage
{
    width: 190px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background: #3c669f;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

input#modal1:checked ~ .modal .modalBody .uploadImage:hover
{
    background: #30558a;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal {
    position: fixed;
    top: 60px;
    left: 40px;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;	
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}


@media only screen and (max-width: 1115px) {
    .sidebar
    {
        position: fixed;
        height: 100vh;
    width: 50px;
        
    }
    .contentSidebarMenu > a ,.handlecreate > a
    {
        display: none;
    }
    .sidebar
    {
        width: 80px;
    }
    .logoText
    {
        font-size: 14px;
    }
  }  

  @media only screen and (max-width: 744px) {

  }